@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
}

:root {
  --color-frame: #3664c8;
  --color-display: #00000080;
  --color-text: #fff;
  --color-white: #fff;
  --color-shadow: #930;
  --color-buttons1: #020024;
  --color-buttons2: #a60067;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
}

.calculator-frame {
  /* prevents margin collapse */
  padding-top: 1px;
  margin: 0 auto;

  width: 100%;
  max-width: 300px;
  height: min-content;
  padding-bottom: 1rem;
  border-radius: 25px;
  background: var(--color-frame);
}

@media screen and (min-width: 375px) {
  .calculator-frame {
    max-width: 500px;
  }

  main {
    padding: 1em;
  }
}

@media screen and (min-width: 500px) {
  .calculator-frame {
    padding-bottom: 1.5rem;
  }

}

.calculator-display {
  border: 2px solid var(--color-white);
  width: 90%;
  height: 3rem;
  margin: 1.5rem auto;
  border-radius: 5px;
  background-color: var(--color-display);
  color: var(--color-text);
  position: relative;
}

.calculator-buttons {
  /*container for calculator buttons*/
  width: 90%;
  min-height: 1rem;
  margin: 1px auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
  grid-template-areas:
    "MC MR MemPlus MemMinus"
    "Sub Mul Div Del"
    "Seven Eight Nine Plus"
    "Four Five Six Plus"
    "One Two Three Plus"
    "Power Clear Decimal Equals"
    "Zero Zero Zero .";
  display: grid;

  justify-items: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .calculator-buttons {
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "MC MR MemPlus MemMinus Clear"
      "Seven Eight Nine Del Div"
      "Four Five Six Plus Mul"
      "One Two Three Plus Sub"
      "Zero Zero Decimal Power Equals";
  }
}

.calculator-button {
  width: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--color-white);
  position: relative;
  overflow: hidden;
  background-color: var(--color-buttons1);
  color: var(--color-text);
  box-shadow: 3px 3px 0 3px var(--color-shadow);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

@media screen and (min-width: 500px) {
  .calculator-button {
    max-width: 75px;
  }
}

.calculator-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, transparent, var(--color-white), transparent);
  transition: 0.5s;
}

.calculator-button:hover::before {
  left: 100%;
}

.calculator-button:active {
  box-shadow: 0 0 0 var(--color-shadow), inset 4px 4px 4px var(--color-shadow);
  transform: translate(6px, 6px);
}


/* Buttons */
.fn-memClear {
  grid-area: MC;
}

.fn-memRecall {
  grid-area: MR;
}

.fn-memSubtract {
  grid-area: MemMinus;
}

.fn-memPlus {
  grid-area: MemPlus;
}

.fn-clear {
  grid-area: Clear;
}

.num-seven {
  grid-area: Seven;
  background: linear-gradient(160deg, var(--color-buttons1) 25%, var(--color-buttons2));
}

.num-eight {
  grid-area: Eight;
  background: linear-gradient(160deg, var(--color-buttons1) 1%, var(--color-buttons2) 75%);
}

.num-nine {
  grid-area: Nine;
  background: linear-gradient(160deg, var(--color-buttons1), var(--color-buttons2) 45%, var(--color-buttons2));
}

.fn-delete {
  grid-area: Del;
  background: linear-gradient(160deg, var(--color-buttons1), var(--color-buttons2) 45%, var(--color-buttons2));
}

.fn-delete img {
  width: 40%;
}

.op-divide {
  grid-area: Div;
  background: linear-gradient(160deg, var(--color-buttons1), var(--color-buttons2) 45%, var(--color-buttons2));
  font-size: 2.25rem;
}

/* Third Row */
.num-four {
  grid-area: Four;
  background: var(--color-buttons2);
}

.num-five {
  grid-area: Five;
  background: var(--color-buttons2);
}

.num-six {
  grid-area: Six;
  background: var(--color-buttons2);
}

.op-plus {
  grid-area: Plus;

  height: 100%;
  background-color: var(--color-buttons1);
  font-size: 2.5rem;
  font-weight: bold;
}

.op-multiply {
  grid-area: Mul;
  background: var(--color-buttons2);
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Arial";
  font-weight: bold;
}


/* Fourth Row */
.num-one {
  grid-area: One;
  background: linear-gradient(160deg, var(--color-buttons2) 45%, var(--color-buttons1));
}

.num-two {
  grid-area: Two;
  background: linear-gradient(160deg, var(--color-buttons2) 45%, var(--color-buttons1));
}

.num-three {
  grid-area: Three;
  background: linear-gradient(160deg, var(--color-buttons2) 45%, var(--color-buttons1));
}

.op-minus {
  grid-area: Sub;
  background: linear-gradient(160deg, var(--color-buttons2) 25%, var(--color-buttons1));
  font-size: 2.5rem;
}

/* Fifth Row */
.zero {
  grid-area: Zero;
  background-color: var(--color-buttons1);
  width: 100%;
  aspect-ratio: 3/1;
}

@media screen and (min-width: 500px) {
  .zero {
    aspect-ratio: 2.25/1;
    max-width: 165px;
  }
}

.decimal {
  grid-area: Decimal;
  background-color: var(--color-buttons1);
}

.equals {
  grid-area: Equals;
  background-color: var(--color-buttons1);
}

.fn-power {
  grid-area: Power;
  background-color: var(--color-buttons1);
}

.fn-power img {
  width: 60%;
}

/* Display */
.display-main {
  min-width: 75px;
  min-height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 1.75rem;
  padding-right: 0.25rem;
}

@media screen and (min-width: 400px) {
  .display-main {
    font-size: 2rem;
  }
}

.display-memory {
  position: absolute;
  font-size: 12px;
  font-weight: bold;
  left: 10px;
  top: 5px;
  opacity: 0;
  font-family: Arial, Helvetica, sans-serif;
}