*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-frame {
  /* prevents margin collapse */
  padding-top: 1px;

  width: 500px;
  height: 500px;
  border-radius: 25px;
  background-color: orange;
}

.calculator-display {
  border: 2px solid white;
  width: 90%;
  height: 3rem;
  margin: 1.5rem auto;
  border-radius: 5px;
  background-color: wheat;
}